<div class="container border">
  <h1 style="color: rgb(38, 91, 134);"><b>Music Album</b></h1>
  <div class="btn-group btn-group-lg">
    <button class="col-sm-8 btn btn-primary" style="text-align:center;" routerLink="genre">genre</button>&nbsp;&nbsp;
    <button class="col-sm-8 btn btn-primary" style="text-align:center;" routerLink="album">album</button>&nbsp;&nbsp;
    <button class="col-sm-4 btn btn-primary" style="text-align:center;" routerLink="artist">artist</button>&nbsp;&nbsp;
    <button class="col-sm-8 btn btn-primary" style="text-align:right;" routerLink="title">title</button>&nbsp;&nbsp;
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>